﻿@using DataTransfer.PL.ViewModels;
@model PurchaseAddViewModel;
@{
    ViewData["Title"] = "Add";
}
<form asp-controller="Purchase" asp-action="AcceptAdd" method="post">
    <div class="form-group">
        <label for="name">Название покупки</label>
        <input type="text" class="form-control" id="name"
               placeholder="Введите название покупки" asp-for="NewPurchase.Name">
    </div>
    <div class="form-group">
        <label for="creationDate">Дата создания </label>
        <input type="datetime-local" class="form-control" id="creationDate"
               placeholder="Введите дату создания" asp-for="NewPurchase.CreationDate">
    </div>
    <div class="form-group">
        <label for="editingDate">Дата редактирования </label>
        <input type="datetime-local" class="form-control" id="editingDate"
               placeholder="Введите дату редактирования" asp-for="NewPurchase.EditingDate">
    </div>
    <button type="submit" class="btn btn-dark">Подтвердить</button>
    <a class="btn btn-dark" asp-controller="Purchase" asp-action="Back">Назад</a>
</form>

