﻿@using DataTransfer.PL.ViewModels;
@model PurchaseEditViewModel;

@{
    ViewData["Title"] = "Edit";
}

    <form asp-controller="Purchase" asp-action="AcceptEdit" method="post">
        <div class="form-group">
            <label for="id">Индефикатор покупки</label>
            <input type="text" class="form-control" id="id" readonly="readonly"
                   asp-for="PurchaseForView.Id">
        </div>
        <div class="form-group">
            <label for="name">Название покупки</label>
            <input type="text" class="form-control" id="name"
                   placeholder="Введите название покупки" asp-for="PurchaseForView.Name">
        </div>
        <div class="form-group">
            <label for="creationDate">Дата создания </label>
            <input type="datetime-local" class="form-control" id="creationDate" 
                   placeholder="Введите дату создания" asp-for="PurchaseForView.CreationDate">
        </div>
        <div class="form-group">
            <label for="editingDate">Дата редактирования </label>
            <input type="datetime-local" class="form-control" id="editingDate"
                   placeholder="Введите дату редактирования" asp-for="PurchaseForView.EditingDate">
        </div>
        <button type="submit" class="btn btn-dark">Подтвердить</button>
        <a class="btn btn-dark" asp-controller="Purchase" asp-action="Back">Назад</a>
    </form>

