﻿@using DataTransfer.PL.ViewModels;

@model PurchaseViewModel;
@{
    ViewData["Title"] = "Main";
}

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>Название покупки</th>
            <th>Дата создания</th>
            <th>Дата редактирования</th>
        </tr>
    </thead>

    @foreach (var purchase in Model.Purchases)
    {
<tr>
    <td>@purchase.Name</td>
    <td>@purchase.CreationDate</td>
    <td style="position: relative; padding-right: 20px;">
        @purchase.EditingDate
        <a st="" asp-controller="Purchase" asp-action="Edit" asp-route-id="@purchase.Id" style="position: absolute; right: 100px; top: 50%; transform: translateY(-50%);">редачим</a>
        <a st="" asp-controller="Purchase" asp-action="Remove" asp-route-id="@purchase.Id" style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%);">удаляем</a>
    </td>
</tr>
}

</table>
<a class="btn btn-dark" asp-controller="Purchase" asp-action="Add">Добавить</a>

